/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Jul-2017, 17:43:33
    Author     : Marc Gil Sadumiano
*/

.root {
    /* -fx-font-color: #e1ff00; */
}

.container {
    
    -fx-background-radius: 10px;
    -fx-border-color: #A80000 #FF8585 #FF8585 #A80000;
    -fx-border-width: 3px; 
}

.min1, .close1 {
    -fx-text-fill: #c30a12;
    -fx-font-size: 21px;
    
}

.close1:hover, .min1:hover {
    -fx-font-weight: bold;
    -fx-background-color: #c30a12;
    -fx-text-fill: #fff;
}


.pane {
    
    -fx-background-color: linear-gradient(#c30a12, #FF9491);
    -fx-background-radius: 10px;
    /* -fx-cursor: hand; */
    
}

.pane .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}


.pane:hover {
    /*
    -fx-border-width: 5px;
    -fx-border-color: #c30a12;
    -fx-border-radius: 10px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 100px;
    */
    -fx-background-color: linear-gradient(#A80000, #FF576E);
    
}




